// =============================================================================
// Font Weight Variables
// Matches weights provided by Google Fonts for Source Sans Pro
// =============================================================================

// Feel free to replace the typography with whatever you choose

$source-sans-pro: 'Source Sans Pro', sans-serif;

$font-weight--light:     300;
$font-weight--normal:    400;
$font-weight--semibold:  600;
$font-weight--ultrabold: 900;