div.navbar.navbar-inverse.navbar-static-top
  div.container-fluid
    div.navbar-header
      // @TODO add additional logic to handle warning state while checking API
      div.status(ng-class='dm.status.success ? "status--success" : "status--danger"')
        span.status__indicator
        span.status__label(ng-if='!dm.status.complete') Attempting to connect to the Marvel API.
        span.status__label(ng-if='dm.status.success') Successfully connected to the Marvel API.
        span.status__label(ng-if='dm.status.error') There was an error reaching the Marvel API.
