// =============================================================================
// Dependencies - Custom
// =============================================================================

// Remember to import stylesheets/base if you need to include any global Sass
// variables that you create. This is necesary because Webpack does not use a
// traditional load order in the asset pipeline
// @link http://bensmithett.com/smarter-css-builds-with-webpack/

@import 'stylesheets/base';


// =============================================================================
// Dependencies - Bootstrap
// =============================================================================

// This is an example of how to override default Bootstrap variables. A list of
// available variables can be found at
// @link https://github.com/twbs/bootstrap-sass/blob/master/assets/stylesheets/bootstrap/_variables.scss
$font-family-sans-serif: $source-sans-pro;
$navbar-inverse-bg: $base16-ocean--01;
$navbar-inverse-border: $navbar-inverse-bg;

// It is not recommended that you adjust the path for the icon-font-path as this
// will cause Webpack to fail while bundling styles
$icon-font-path: '../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

@import '~bootstrap-sass/assets/stylesheets/bootstrap';


// =============================================================================
// Custom Styles
// =============================================================================

body {
  // Visual
  background-color: $base16-ocean--07;
}
