// Directive-specific Styles

// Remember to always import the base stylesheets to include any global Sass
// variables that you may need in order to make your styles as DRY as possible
@import '../../stylesheets/base';

// =============================================================================
// Status Object
// =============================================================================

.status__label {
  // Typography
  font: {
    // size: 0.875rem;
    weight: $font-weight--normal;
  }
  line-height: 48px; // Magic number in order to vertically align the status. Soon Flexbox. Soon.
  color: white;

}

.status__indicator {
  // Positioning
  position: relative;
  top: 2px; // Magic number in order to properly position the indicator

  // Box Model
  display: inline-block;
  // @TODO allow for variable size status indicators
  width: 12px;
  height: 12px;
  margin-right: 10px;

  // Visual
  border-radius: 50%;
}

@each $contextual-color, $contextual-color-variables in $contextual-colors {

  .status--#{$contextual-color} {

    .status__indicator {
      // Visual
      background-color: $contextual-color-variables;
    }

  }

}

// =============================================================================
// Welcome Object
// =============================================================================

.welcome__title {
  // Display
  display: block;

  // Typography
  font-weight: $font-weight--ultrabold;
  line-height: 1.1;
  text-align: center;

  > span {
    display: block;
  }

}
