gs-status-bar(ng-model='dm.state.connection')
div.container-fluid
  div.row
    div.col-md-6.col-md-push-3
      div.welcome
      form(name="search", method="post")
        div.input.search
          span.label.search Search by Character Name
          input(type="text", name="search", ng-model="dm.search")
          span.actions
            input(type="submit", value="Search", ng-click="dm.makeRequest(); dm.searched=true")
        h1.welcome__title
          span(ng-if='dm.state.connection.error') Something went wrong while bootstrapping the {{ dm.title }}
          span(ng-show='dm.noResults()') No results.
          span(ng-repeat='char in dm.characters') 
            a(href='') {{ char.name }}

       
