gs-status-bar(ng-model='dm.state.connection')
div.container-fluid
  div.row
    div.col-md-6
      div.name(ng-if='dm.state.connection.complete')
        h1 {{dm.character.name}}
  div.row
    div.col-md-4
      img(ng-src='{{dm.portrait()}}')
    div.col-md-3
      h4 {{dm.describe()}}
      div.status
        h4 Relationship Status:
        p {{dm.flavorText()}}
    div.col-md-3
      h4 Appearances
    div.col-md-4(ng-hide="dm.noAppearances()")
      h6.comic(ng-repeat='series in dm.character.series.items | limitTo: 10') 
        a(href='series.resourceURI'){{series.name}}
    div.col-md-4(ng-show='dm.noAppearances()')
      h6 No series appearances... yet.
  div.row   
    div.col-md-6 
      a.back(ng-click="dm.back()") Back to Index
      

       
